extends layout

block content
    form(action='/price', method='get')
        h1= title
        div
            label(for='cut') Cut:
            select#cut(name='cut', required)
                option(value='') --Select--
                option(value='poor') poor
                option(value='fair') fair
                option(value='very good') very good
                option(value='excellent') excellent
                option(value='ideal') ideal
        div
            label(for='color') Color:
            select#color(name='color', required)
                option(value='') --Select--
                option(value='D') D
                option(value='E') E
                option(value='F') F
                option(value='G') G
                option(value='H') H
                option(value='I') I
                option(value='J') J
        div
            label(for='clarity') Clarity:
            select#clarity(name='clarity', required)
                option(value='') --Select--
                option(value='IF') IF
                option(value='WS1') WS1
                option(value='WS2') WS2
                option(value='VS1') VS1
                option(value='VS2') VS2
                option(value='SI1') SI1
                option(value='SI2') SI2
                option(value='I1') I1
                option(value='I2') I2
                option(value='I3') I3
        div
            label(for='carat') Carat:
            input#carat(type='number', min=0, step=".01", name='carat', required)
        div.submitWrapper
            input#submit(type='submit')
            .error
        .price Price:
