body {
  padding: 50px;
  font: 14px  Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex; }
  body form {
    align-self: center;
    margin: auto;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.29);
    display: flex;
    flex-direction: column;
    background: #1EB6DA;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    width: 300px; }
    body form h1 {
      align-self: center; }
    body form > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 10px;
      margin-top: 20px;
      width: 200px; }
      body form > div.submitWrapper {
        flex-direction: column;
        align-items: flex-start; }
      body form > div label {
        margin-right: 10px; }
      body form > div input, body form > div input:focus, body form > div select {
        width: 150px;
        padding: 5px;
        border: 1px solid #FFFFFF;
        border-radius: 17px;
        color: #ffffff;
        background: #1EB6DA;
        outline: initial; }
        body form > div input[type=number], body form > div input:focus[type=number], body form > div select[type=number] {
          width: 137px; }
        body form > div input[type=submit], body form > div input:focus[type=submit], body form > div select[type=submit] {
          width: initial;
          font-size: 20px;
          padding: 10px 30px;
          text-align: center;
          cursor: pointer; }
        body form > div input[type=submit]:hover, body form > div input:focus[type=submit]:hover, body form > div select[type=submit]:hover {
          background: white;
          color: #1EB6DA;
          border-color: #1EB6DA; }
    body form .price {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 30px; }

/*# sourceMappingURL=style.css.map */